* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  color: white;
  font-family: 'Roboto', sans-serif;
}

header {
  background-color: #066600;
  padding: 40px 0;
}

img { 
  max-width: 100%;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0px auto;
  text-align: center;
}

main {
  background: #66003B;
}

.animaciones {
  padding: 50px 0;
}

figure {
  width: 31%;
  margin: 0 2% 30px 0;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

figure img {
  transition: transform 500ms ease-in-out;
  transform: scale(1.05);
}

figure:hover img{
  transform: scale(1);
}

figcaption {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
}

figure:hover figcaption {
  opacity: 1;
}

figcaption p {
  background: #5a21ba;
  font-size: 2em;
}

p.icons {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 46px;
  height: 46px;
  font-size: 20px;
  line-height: 45px;
  border-radius: 2px; 
  transition-delay: .1s;
}

p.icons:first-child {
  transform: translate(25%,-200%);
}

p.icons:last-child {
  transform: translate(-125%,-200%);
}

figure:hover .icons-wrap p.icons {
  transform: translate(25%,-50%);
}

figure:hover .icons-wrap p.icons:first-child {
  left: 50%;
  transform: translate(25%,-50%);
}

figure:hover .icons-wrap p.icons:last-child {
  left: 50%;
  transform: translate(-125%,-50%);
}